<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BasketBall</title>
</head>
<body>

    <style>
        li{
            margin: 10px;
        }
    </style>
   
        <div class="player-detail">
          <h3 class="addPlayer"></h3>
          <ul>
            <li style="font-size:25px ; color: red;font-family :Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif"><b>
                <%=name %>
              </b></li>
            <li>Points: <%=point %>
            </li>
            <li>Rebound: <%=rebound %>
            </li>
            <li>Assists: <%=assist %>
            </li>
            <li>Blocks: <%=block %>
            </li>
          </ul>
          <div>


</body>
</html>